CompileFlags:
  Add:
    - "-Wall"
    - "-Wextra"
    - "-Wpedantic"
    - "-Wshadow"
    - "-Wformat=2"

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add:
      - bugprone-*
      - readability-*
      - performance-*
      - portability-*
    Remove:
      - readability-magic-numbers
      - readability-identifier-length

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
